.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.dblSizeBtn {
  width: 117px;
}

input[type=radio] {
    display: none;
}
input[type=radio] + label::after {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
    width: 1em;
    height: 1em;
}
input[type=radio]:checked + label::after {
    background-color: #123;
}

